@using BurzaFirem2.Emails.ViewModels
@model ConfirmEmailVM
@{
    ViewData["Title"] = "Resetování hesla";
}
<p>Zdá se, že jsme obdrželi žádost o resetování hesla pro uživatele z Vaší emailové adresy.</p>
<p>K resetování použijte následující odkaz.</p>
<a href="@Html.Raw(Model.ConfirmEmailUrl)">
    Potvrdit email
</a>